apiVersion: v1
kind: ConfigMap
metadata:
  name: config-autoscaler
  namespace: knative-serving
data:
  pod-autoscaler-class: "kpa.autoscaling.knative.dev"
  container-concurrency-target-default: "1"
  container-concurrency-target-percentage: "100"
  target-burst-capacity: "-1"
  max-scale-up-rate: "1000.0" # no per-revision setting
  max-scale-down-rate: "2.0" # no per-revision setting
  scale-down-delay: "60s"
  min-scale: "0"
  max-scale: "0" # 0 means no limit
  max-scale-limit: "0" # 0 means no limit
  allow-zero-initial-scale: "true"
  initial-scale: "0"
  stable-window: "60s"
  panic-window-percentage: "10.0" # should > 2s
  panic-threshold-percentage: "200.0"
  enable-scale-to-zero: "true"
  scale-to-zero-grace-period: "15m"
  scale-to-zero-pod-retention-period: "5m"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-features
  namespace: knative-serving
data:
  kubernetes.podspec-tolerations: "enabled"
  kubernetes.podspec-nodeselector: "enabled"
  kubernetes.podspec-affinity: "enabled"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: activator
  namespace: knative-serving
spec:
  minReplicas: 3
  maxReplicas: 40
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: activator
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          # Percentage of the requested CPU
          averageUtilization: 100